@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9fafb;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 400px;
}

h2 {
  text-align: center;
  padding: 30px 10px 10px 10px;
}



.form-control {
  display: flex;
  flex-direction: column;
  padding: 15px 35px;
  position: relative;
}

.form-control label {
  font-size: 14px;
  color: #8f8f8f;
}

.form-control input {
  color: #797979;
  height: 34px;
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  padding: 10px;
  font-size: 14px;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control.success {
  border-color: #2ecc71;
}

.form-control.error {
  border-color: #e74c3c;
}

small {
  position: absolute;
  bottom: -5px;
  color: #e74c3c;
  visibility: hidden;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

button {
  cursor: pointer;
  background-color: #3498db;
  border: 2px solid #3498db;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 83%;
}
